<div class="panel panel-primary smallapp-form">
	<div class="panel-heading"><h4 align="center"> You are logged </h4></div>
	<div class="panel-body">
		<div class="form-group">
  			<label for="adr">Hello : {{username.name}}</label>
  			<br>
 			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel accumsan massa. Vivamus molestie
 			arcu sem, non condimentum nisi condimentum eget. Vivamus erat turpis, vulputate sed rhoncus quis, euismod
 			suscipit neque. Curabitur sollicitudin sed mauris ut tincidunt. Aenean non massa rhoncus quam varius semper
 			bibendum ac leo. Donec a mattis lorem, sit amet ornare velit. Sed ornare, tellus eu pharetra vulputate,
 			nunc eros aliquet lorem, nec cursus orci lacus id justo. Nunc gravida mi ut elit semper aliquam.
 			Nulla ullamcorper lorem et sollicitudin pellentesque. Suspendisse tristique, nulla at volutpat ultricies,
 			dui nibh fermentum quam, non bibendum lorem justo ac ante. Vestibulum feugiat nec ante eget viverra.
 			In non massa facilisis, elementum augue eu, sodales augue. Sed eget feugiat turpis. Fusce eget ligula in
 			ipsum luctus malesuada eget id sem.
		</div>

		<button (click)="logout()"  style="float: right;" class="btn-primary btn">Logout</button>
	</div>
</div>
